@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* - Mobile: 375px
- Desktop: 1440px */

body{
  font-family: 'Poppins', sans-serif;
}
:root {
  --Pink: hsl(322, 100%, 66%);
--VeryPaleCyan: hsl(193, 100%, 96%);
--VeryDarkCyan: hsl(192, 100%, 9%);
--GrayishBlue: hsl(208, 11%, 55%);
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
